<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated XBNFwithCardinality -->
      <package
            uri="http://www.eclipse.org/ocl/XBNFwithCardinality"
            class="org.eclipse.ocl.examples.xtext2lpg.XBNFwithCardinality.XBNFwithCardinalityPackage"
            genModel="model/XBNFwithCardinality.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated XBNFwithCardinality -->
      <package
            uri="http://www.eclipse.org/ocl/XBNF"
            class="org.eclipse.ocl.examples.xtext2lpg.XBNF.XBNFPackage"
            genModel="model/XBNFwithCardinality.genmodel"/>
   </extension>

</plugin>
