<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.emf.mwe2.launch.Mwe2LaunchConfigurationType">
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${workspace}"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.eclipse.ocl.examples.xtext2lpg"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.emf.mwe2.launch.runtime.Mwe2Launcher"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="src/org/eclipse/ocl/xtext2lpg/GenerateLPG.mwe2&#13;&#10;--param grammarPath=&quot;platform:/resource/org.eclipse.ocl.xtext.oclstdlib/src/org/eclipse/ocl/examples/xtext/oclstdlib/OCLstdlib.xtext&quot;&#13;&#10;--param syntaxName=&quot;OCLstdlib&quot;&#13;&#10;--param lpgExe=&quot;${workspace_loc:/org.eclipse.ocl.examples.build}/lpgexe/lpg-${target.os}_${target.arch}&quot;&#13;&#10;--param lpgIncs=&quot;${workspace_loc:/lpg.generator/templates/java};${workspace_loc:/lpg.generator/include/java};&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.eclipse.ocl.examples.xtext2lpg"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea"/>
</launchConfiguration>
